#pageContent {
  margin-top: 5em;
  padding: 25px;
}

/* Martel's Dark Mode */
* {
  box-sizing: border-box;
}

body.dark {
  background: #292c35;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #b1b1b1;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(0.8);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

/* Home page image */
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 12;
  top: -1px;
  left: 0px;
  width: 1903px;
  height: 90px;
  margin-bottom: 0px;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0.5px;
}

.nav-links a {
  color: black;
}

/* LOGO */

.logo img {
  display: block;
  margin-left: auto;
  margin-right: 48%;
  width: 12.5%;
}

/* NAVBAR MENU */

.menu {
  display: flex;
  gap: 1em;
  font-size: 28px;
}

.menu li:hover {
  background-color: #c7c2c2;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 10px;
}

.navBar a {
  text-decoration: none;
}

.navBar li {
  list-style: none;
}

/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.imageContainer {
  background-image: url("https://images.unsplash.com/photo-1505876104692-2f34b9d54303?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  max-width: 100%;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageContainer-text h1 {
  position: absolute;
  color: white;
  left: 100px;
  bottom: 1200px;
  font-size: 800%;
  font-weight: 150;
  font-family: serif;
}

/* second page of Home */

.helpingCaring-Text h1 {
  position: relative;
  bottom: 5rem;
  font-size: 500%;
  font-weight: 50%;
  font-family: serif;
}

.partnerBtn_Text {
  padding: 1rem;
  border: none;
  font-size: 200%;
  font-family: serif;
  background-color: #dd9d4c;
  position: relative;
  bottom: 5rem;
}

.btnHover button:hover {
  background-color: rgb(238, 183, 110);
}

.btnHover a:hover {
  background-color: #dd9d4c;
}

.wrapper {
  background-color: antiquewhite;
  padding-top: 100px;
  padding-bottom: 100px;
}

.second_page_nested {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  gap: 80px;
}

.box {
  color: black;
  border-radius: 5px;
  margin-left: 2rem;
  font-size: 140%;
  font-family: helvetica;
}

.box1 img {
  object-fit: cover;
  width: 20rem;
  align-items: center;
}

.box1 img:hover {
  opacity: 50%;
}

.box1-h3 {
  text-align: justify;
}

.box2 img {
  object-fit: cover;
  width: 20rem;
  align-items: center;
}

.box2 img:hover {
  opacity: 50%;
}

.box2-h3 {
  text-align: justify;
}

.box3 img {
  object-fit: cover;
  width: 20rem;
  align-items: center;
}

.box3 img:hover {
  opacity: 50%;
}

.box3-h3 {
  text-align: justify;
}

/* Trey's Form CSS */

.formHeader {
  text-align: center;
  background-color: lightblue;
  padding: 20px;
  color: white;
  border-radius: 20px;
}

.addPartnerForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 4em;
  margin-left: 35%;
  align-items: center;
}

#businessFormInput {
  border-radius: 10px;
  width: 75%;
  height: 25px;
  margin: 7px;
  padding: 10px;
  box-shadow: 2px 2px 2px black;
  border: none;
}

#add-business__submit {
  width: 210px;
  border-radius: 10px;
  background-color: #7a2d20;
  border: none;
  color: white;
  padding: 5px;
  margin-bottom: 4em;
  box-shadow: 2px 2px 2px black;
}

#add-business__submit:active {
  background-color: #292c35;
}


/* APPLYING MEDIA QUERIES */

@media (max-width: 1669px) {
  .logo img {
    display: block;
    margin-left: auto;
    margin-right: 48%;
  }

  .helpingCaring-Text {
    position: relative;
    bottom: 3rem;
    font-weight: 150;
  }

  .partnerBtn_Text {
    padding: 2rem;
    font-size: 1.5rem;
  }

  .second_page_nested {
    gap: 30px;
  }

  .box {
    color: black;
    border-radius: 5px;
    margin-left: 1rem;
    font-size: 150%;
    font-family: helvetica;
  }

  .box1 img {
    object-fit: cover;
    width: 360px;
    align-items: center;
  }

  .box1 img:hover {
    opacity: 50%;
  }

  .box2 img {
    object-fit: cover;
    width: 360px;
    align-items: center;
  }

  .box2 img:hover {
    opacity: 50%;
  }

  .box3 img {
    position: relative;
    top: -1px;
    object-fit: cover;
    width: 360px;
    align-items: center;
  }

  .box3 img:hover {
    opacity: 50%;
  }
}

@media (max-width: 1587px) {
  .helpingCaring-Text h1 {
    position: relative;
    bottom: 3rem;
    font-size: 450%;
  }

  .partnerBtn_Text {
    padding: 2rem;
    font-size: -10rem;
  }
}

@media (max-width: 1582px) {
  .helpingCaring-Text h1 {
    position: relative;
    bottom: 3rem;
    font-size: 400%;
  }
}

@media (max-width: 1530px) {
  .helpingCaring-Text h1 {
    position: relative;
    bottom: 3rem;
    font-size: 340%;
  }
}

@media (max-width: 1480px) {
  .helpingCaring-Text h1 {
    position: relative;
    bottom: 3rem;
    font-size: 340%;
  }
}

@media (max-width: 1477px) {
  .helpingCaring-Text h1 {
    position: relative;
    bottom: 3rem;
    font-size: 320%;
  }
}

@media (max-width: 1451px) {
  .helpingCaring-Text h1 {
    position: relative;
    bottom: 3rem;
    font-size: 300%;
  }
}

@media (max-width: 1441px) {
  .second_page_nested {
    gap: 20px;
  }

  .box1 img {
    object-fit: cover;
    width: 330px;
    align-items: center;
  }

  .box1 img:hover {
    opacity: 50%;
  }

  .box2 img {
    object-fit: cover;
    width: 330px;
    align-items: center;
  }

  .box2 img:hover {
    opacity: 50%;
  }

  .box3 img {
    position: relative;
    top: 14.7px;
    object-fit: cover;
    width: 330px;
    align-items: center;
  }

  .box3 img:hover {
    opacity: 50%;
  }
}

@media (max-width: 1349px) {
  .helpingCaring-Text h1 {
    position: relative;
    bottom: 3rem;
    font-size: 300%;
  }
}

@media (max-width: 1339px) {
  .helpingCaring-Text h1 {
    position: relative;
    bottom: 3rem;
    font-size: 270%;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #d0d6d6;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    color: white;
  }

  .menu li:hover {
    display: inline;
    background-color: #c6c9c9;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
    color: #111;
  }
}

@media screen and (max-width: 1280px) {
  .helpingCaring-Text {
    bottom: 1rem;
    font-size: 200%;
    font-weight: 150;
    font-family: serif;
  }

  .partnerBtn_Text {
    padding: 2rem;
    font-size: 1.5rem;
    left: 3rem;
  }

  .btnHover a:hover {
    background-color: antiquewhite;
  }

  .second_page_nested {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 13rem;
    padding: 0rem;
    gap: 1rem;
    align-items: center;
  }

  .box {
    color: black;
    border-radius: 5px;
    margin-left: 2rem;
    font-size: 150%;
    font-family: helvetica;
  }

  .box img {
    width: 100%;
    height: 100%;
    margin-right: 3rem;
  }

  .box1 img {
    object-fit: cover;
    width: 20rem;
    align-items: center;
  }

  .box1-h3 {
    text-align: center;
  }

  .box1 img:hover {
    opacity: 50%;
  }

  .box2 img {
    object-fit: cover;
    width: 20rem;
    align-items: center;
    
  }

  .box2 img:hover {
    opacity: 50%;
  }

  .box3 img {
    object-fit: cover;
    width: 20rem;
    align-items: center;
    
  }

  .box1-h3 {
    text-align: justify;
  }

  .box3 img:hover {
    opacity: 50%;
  }

 
}

@media screen and (max-width: 1280px) {
  .imageContainer-text h1 {
    font-size: 600%;
    left: 280px;
    bottom: 2820px;
  }
}


/* @media screen and (max-width: 900px) {
  .helpingCaring-Text {
    bottom: 1rem;
    font-size: 200%;
    font-weight: 150;
    font-family: serif;
  }

  .partnerBtn_Text {
    padding: 2rem;
    font-size: 1.5rem;
  }

  .second_page_nested {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
    padding: 0rem;
    gap: 1rem;
    align-items: center;
  }

  .box {
    color: black;
    border-radius: 5px;
    margin-left: 2rem;
    font-size: 150%;
    font-family: helvetica;
  }

  .box img {
    width: 50%;
    height: 50%;
  }

  .box1 img {
    object-fit: cover;
    width: 20rem;
    align-items: center;
  }

  .box1-h3 {
    text-align: justify;
  }
}
 


/* @media screen and (max-width: 900px) {
  .imageContainer-text h1 {
    left: 600rem;
    bottom: 300px;
    font-size: 6rem;
  }
} */


@media screen and (max-width: 883px) {
  .imageContainer-text h1 {
    left: 210px;
    bottom: 3300px;
    font-size: 7rem;
  }

  .second_page_nested {
    padding-bottom: -200rem;
    gap: -20px;
  }

  .box {
    color: black;
    border-radius: 5px;
    margin-left: 2rem;
  }

  .box1 img {
    object-fit: cover;
    width: 500px;
    align-items: center;
  }

  .box2 img {
    object-fit: cover;
    width: 500px;
    align-items: center;
  }

  .box3 img {
    position: relative;
    top: 14.7px;
    object-fit: cover;
    width: 500px;
    align-items: center;
  }
}

@media screen and (max-width: 878px) {
  .imageContainer-text h1 {
    left: 262px;
    font-size: 6rem;
    bottom: 190rem;
  }

  .helpingCaring-Text {
    bottom: 1rem;
    font-size: 160%;
    font-weight: 130;
    font-family: serif;
  }

  .box1 img {
    width: 400px;
    align-items: center;
  }

  .box2 img {
    width: 400px;
    align-items: center;
    margin-left: 2rem;
  }

  .box3 img {
    top: 14.7px;
    width: 400px;
    align-items: center;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 644px) {
  .imageContainer-text h1 {
    left: 97px;
    bottom: 3600px;
    font-size: 6rem;
  }
}

@media screen and (max-width: 599px) {
  .imageContainer-text h1 {
    left: 97px;
    bottom: 3600px;
    font-size: 6rem;
  }
}


/* Trey's Form CSS */

.formHeader {
  text-align: center;
  background-color: lightblue;
  padding: 20px;
  color: white;
  border-radius: 20px;
}

.addPartnerForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 7%;
  margin-left: 35%;
  align-items: center;
}

#businessFormInput {
  border-radius: 10px;
  width: 75%;
  height: 25px;
  margin: 7px;
  padding: 10px;
  box-shadow: 2px 2px 2px black;
  border: none;
}

#add-business__submit {
  width: 210px;
  border-radius: 10px;
  background-color: lightblue;
  border: none;
  color: white;
  padding: 5px;
  box-shadow: 2px 2px 2px black;
}

#add-business__submit:active {
  background-color: #292c35;
}



.contact-image {
  max-width: 300px;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserra", sans-serif;
}

* {
  box-sizing: border-box;
}

body.dark {
  background: #292c35;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(0.8);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.businessContent2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  line-height: 1.55rem;
  color: black;
  font-family: helvetica;
  /* font-size: 140%; */
  background-color: rgba(160, 158, 158, 0.952);
  box-shadow: 0.6em 0.6em 1.2em #8f959c;
  box-shadow: 0.5em 0.5em 1em #85898f;
  border-radius: 20px;
  cursor: context-menu;
  list-style: none;
}

.content {
  background-color: #ccc;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1px;
  font-family: Brandon-Grotesque, Helvetica, Arial, sans-serif;
  font-size: 8px;
  width: 20%;
}
.content2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px 100px;
  grid-gap: 2em;
  line-height: 1.55rem;
  color: black;
  border-radius: 5px;
  font-family: helvetica;
  font-size: 120%;
  background-color: white;
  cursor: context-menu;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9;
  box-shadow: 0.5em 0.5em 1em #d2dce9;
  border-radius: 20px;
}

.businessContent {
  background-color: #ccc;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1px;
  font-family: Brandon-Grotesque, Helvetica, Arial, sans-serif;
  font-size: 10px;
  width: -5 rem;
  
}
.searchTitle{
  font-family: Brandon-Grotesque, Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 2px;
}
.indPartner {
  position: relative;
  display: inline-block;
  height: 25%;
  margin: 2em;
  font-weight: bold;
}

.indPartner:hover {
  color: blue;
}

.searchWrapper {
  width: 350px;
  position: relative;
  display: flex;
  bottom: 20;
  left: 20;
  right: 20;
  margin: auto;
}

#searchBar {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  /* padding: 30px 45px 30px 30px; */
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border: solid;
  transition: all 0.4s;
  height: 50px;
  width: 335px;
  margin-bottom: 3rem;
}

#search-input:focus {
  border: none;
  outline: none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}

#search-submit-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left: 5px;
  border: none;
  color: #6c6c6c;
  transition: all 0.4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline: none;
  color: black;
}

.formContainer {
  position: relative;
  margin: 8% auto;
  min-height: 60%;
  width: 50%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
  background: white;
  padding: 0px 0px 5px 15px;
  box-sizing: border-box;
  border-radius: 8px;
}

.formHeader {
  text-align: center;
  background-color: #7a2d20;
}

.formContentContainer {
  margin-top: 15%;
}

.formInput {
  display: block;
  margin: 0px 0px 15px 20px;
  padding: 4px;
  width: 80%;
  height: 5%;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-size: 12px;
}

.submitButton {
  background: #7a2d20;
  color: white;
  margin: 10px 20px;
  width: 80%;
  height: 8%;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
}

.submit-business-input-container {
  background-color: black;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

/* Village Landing */

blockquote {
  text-align: center;
  font-size: 230%;
  color: rgb(0, 31, 77, 0.5);
}

.village-option-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 5rem, 0px, 5rem;
}

.village-button {
  width: 250px;
  height: 200px;
  border-width: 3px;
  border-radius: 30px;
  transition-duration: 0.6s;
  font-size: 150%;
  font-size: bold;
  font-weight: bold;
  margin-top: 4rem;
  text-decoration-style: solid;
  z-index: 2;
  color: white;

  clip-path: margin-box;
  margin-right: 50px;
}

.village-button:hover {
  transition: linear;
  cursor: pointer;
  color: black;
  background-color: ivory;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
  filter: contrast(1);
}

.village-button:active {
  font-size: 50%;
  cursor: pointer;
}

.places-button {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://media.istockphoto.com/photos/young-blind-man-with-white-cane-and-guide-dog-sitting-in-park-in-city-picture-id1179580885?k=20&m=1179580885&s=612x612&w=0&h=7KwjDZ51q8IZ8uKTB5jVWvdhLf4EOIHAHvnmOpulfrk=);
  background-size: cover;
}

.places-button:hover {
  background-image: url(https://media.istockphoto.com/photos/young-blind-man-with-white-cane-and-guide-dog-sitting-in-park-in-city-picture-id1179580885?k=20&m=1179580885&s=612x612&w=0&h=7KwjDZ51q8IZ8uKTB5jVWvdhLf4EOIHAHvnmOpulfrk=);
  filter: brightness(0.8);
}

/* .places-button span {
  color: white;
  z-index: 2;
} */

.help-button {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://imageio.forbes.com/specials-images/imageserve/509719231/0x0.jpg?format=jpg&width=1200&fit=bounds);
  background-size: cover;
}

.help-button:hover {
  background-image: url(https://imageio.forbes.com/specials-images/imageserve/509719231/0x0.jpg?format=jpg&width=1200&fit=bounds);
  filter: brightness(0.8);
}

.community-button {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://mn.gov/deaf-hard-of-hearing/assets/AdobeStock_191329508_tcm1121-401457.jpg);
  background-size: cover;
}

.community-button:hover {
  background-image: url(https://mn.gov/deaf-hard-of-hearing/assets/AdobeStock_191329508_tcm1121-401457.jpg);
  filter: brightness(0.8);
}

/* Locations List Cam */

.review-card {
  /* background-color: #fff; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  width: fit-content;
  align-self: center;
  width: 80%;
  height: 100%;
}

/* .review-card:hover {
  box-shadow: 0 8px 16px 0 hsl(60, 80%, 15%);
} */

.location-wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col] 250px [col] 250px [col] 250px [col] 250px;
  grid-template-rows: [row] auto [row] auto [row] auto [row];

  color: rgb(26, 24, 24);
  /* margin-top: 3em;
  margin-bottom: 5em; */
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  justify-content: center;
  align-content: center;
}

.business-box {
  /* background-color: #444; */
  color: #61666b;
  border-radius: 3px;
  border-style: solid;
  border-color: #c9250c;
  border-width: 3px;
  border-radius: 30px;
  transition-duration: 0.6s;
  padding: 20px;
  font-size: 150%;
  width: auto;
  height: auto;
}

.business-name {
  grid-column: col / span 2;
  grid-row: row;
  text-align: center;
  font-size: 185%;
  font-weight: bold;
}
.business-location {
  grid-column: col 3 / span 2;
  grid-row: row;
  text-align: center;
  font-size: 175%;
  font-weight: bold;
}
.business-rating {
  grid-column: col;
  grid-row: row 2;
  font-weight: bold;
  text-align: center;
}

.rating__star {
  margin-top: 0.2rem;
  margin-right: 0.3em;
  cursor: pointer;
  color: #dabd18b2;
  height: 80%;
  justify-content: center;
  align-content: center;
}

.business-description {
  grid-column: col 2 / span 3;
  grid-row: row 2;
  text-align: center;
}

/* Reviews section */

.business-reviews {
  grid-column: col / span 4;
  grid-row: row 3;
  text-align: center;
}

.comments-box {
  grid-column: col / span 4;
  grid-row: row 5;
  text-align: center;
}

.comment-container {
  max-width: 640px;
  margin: 30px auto;
  /* background: #fff; */
  border-radius: 8px;
  padding: 20px;
}

.comment {
  display: block;
  transition: all 1s;
}

.commentClicked {
  min-height: 0px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px 10px;
}

#review-title {
  width: 100%;
  border: none;
  background: #e8e8e8;
  padding: 5px 10px;
  height: 50%;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 2px solid #016ba8;
  transition: all 0.5s;
  margin-top: 15px;
}

.container textarea {
  width: 100%;
  border: none;
  /* background: #e8e8e8; */
  padding: 5px 10px;
  height: 50%;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 2px solid #016ba8;
  transition: all 0.5s;
  margin-top: 15px;
}

.input {
  /* background-color: blue; */
}

button.primaryContained {
  background: #016ba8;
  color: #fff;
  padding: 10px 10px;
  border: none;
  margin-top: 0px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  transition: 1s all;
  font-size: 10px;
  border-radius: 5px;
}

button.primaryContained:hover {
  background: #9201a8;
}


/* App Section */
.app_grid_wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 10px;
  align-content: center;
  font-family: sans-serif;

  margin-left: 80px;
  margin-right: 20px;
}

#app {
  align-content: center;
  margin-left: 4rem;
}

#app_Description {
  background-color: #ccc5c5;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
}

#appC {
  max-width: 60%;
  align-content: center;
  margin-left: 4rem;
}

/* Map Section */
.map_wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 10px;
}

.map_wrapper iframe {
  width: 30%;
}


/* Martel about page */

@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Clicker+Script&family=Merriweather:wght@300&display=swap");

/* Martel resource cards */

.grid-body {
  margin: 40px;
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #f2f3f7;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  

}

 .aboutHeader {
 font-size: bold;
 text-align: center;
 font-size: 75px;
 font-family:Georgia, 'Times New Roman', Times, serif;
 margin: 0%;
 padding: 0%;
 
}

.aboutContainer .about-card {
  width: 330px;
  height: 416px;
  padding: 60px 30px;
  margin: 20px;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9;
  box-shadow: -0.5em 0.5em 1em #d2dce9;
  border-radius: 20px;
}

.aboutContainer .about-card .about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.aboutContainer .about-card .about-content .imgBx {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.aboutContainer .about-card .about-content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.about-card .about-content .about-content-box .about-h1 {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
}

.about-card .about-content .about-content-box .about-h2 {
  color: #6c758f;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.aboutContainer .about-card .about-content .sci {
  margin-top: 20px;
}

.aboutContainer .about-card .about-content .sci a {
  text-decoration: none;
  color: #6c758f;
  font-size: 30px;
  margin: 10px;
  transition: color 0.4s;
}

.aboutContainer .about-card .about-content .sci a:hover {
  color: #0196e3;
}

.card-grid {
  display: grid;
  width: 114em;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9;;
  
}


.card-grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.card-grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 2rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

.help-header-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 90em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}


/* App Section */

.app {
  width: 50%;
  height: 50%;
  display: block;
  position: relative;
  left: 5rem;
  padding-top: 2rem;
}

#appC {
  width: 50.1%;
  height: 100%;
  display: block;
  align-items: center;
  position: relative;
  left: 5rem;
  padding-top: 2rem;
}

.app_card_wrapper {
  margin: 20px 0;
  width: 100%;
  font-family:  sans-serif;
}

.app_card_wrapper .app_card_wrap {
  display: flex;
  flex-wrap: wrap;
}

.app_card_wrap .app_card_item {
  width: 25%;
  padding: 10px;
}
.app_card_wrap .app_card_inner {
  background: white;
  border-radius: 20px;
}

.app_card_inner {
  box-shadow: 0.6em 0.6em 1.2em #d2dce9;
  box-shadow: 0.5em 0.5em 1em #d2dce9;
}

.app_card_wrap .app_card_top {
  width: 100%;
  height: auto;
  padding: 10px;
  padding: 0;
}

.app_card_wrap .app_card_bottom {
  padding: 15px;
}

 .app_card_category {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.app_card_wrap .app_card_bottom .app_card_info {
  padding: 13px;
  margin: 10px 0;
  
  
  
}
.app_card_wrap .app_card_bottom .app_card_info p{
  line-height: 1.3rem;
  
} 

.app_card_wrap .app_card_bottom .app_card_info .app_title {
  color: black;
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 1rem;
  font-weight: bolder;
}


.app_card_wrap .app_card_bottom .fa-brands {
  text-align: center;
}

@media (max-width: 1148px) {
  .app_card_wrap .app_card_item {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .app_card_wrap .app_card_item {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .app_cards_wrap .app_card_item {
    width: 50%;
  }
}

@media (max-width: 538px) {
  .app_card_wrap .app_card_item {
    width: 100%;
  }
}

/* Map Section */
.map {
  width: 400px;
  height: 400px;
  position: relative;
  margin-left: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media (max-width: 1669px) {
  .map {
    width: 350px;
    height: 400px;
    margin-right: 1rem;
    margin-left: 1.5rem;
  }
}

@media (max-width: 1654px) {
  .map {
    width: 350px;
    height: 400px;
    margin-right: 0.5rem;
    margin-left: 1rem;
  }
}

@media (max-width: 1608px) {
  .map {
    width: 350px;
    height: 400px;
    margin-right: -0.4rem;
    margin-left: 1rem;
  }
}

@media (max-width: 1522px) {
  .map {
    width: 350px;
    height: 400px;
    margin-right: -2rem;
    margin-left: 1rem;
  }
}

@media (max-width: 1439px) {
  .map {
    width: 350px;
    height: 400px;
    margin-right: 3rem;
    margin-left: 1rem;
  }
}


.fa {
  cursor: pointer;
}



/* Martel Contact Page */
.contact-section {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  
  min-height: 75vh;
  background-color: rgb(214, 197, 197);
}

.contact-container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.contact-content-section {
  float: left;
  width: 55%;
  
  
}

.contact-image-section {
  float: right;
  width: 40%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.contact-image-section .contact-img {
  width: 100%;
  height: auto;
}

.contact-content-section .contact-title {
  text-transform: uppercase;
  font-size: 45px;
  
  
}

.contact-content-section .contact-content p {
  margin-top: 25px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 2;
  
}

.contact-content-section .contact-social{
   margin: 40px 160px; 
}

.contact-content-section .contact-social i {
  color: #a52a2a;
  font-size: 30px;
  padding: 0px 10px;
  
}

.contact-content-section .contact-social i:hover{
  color: #3d3d3d;
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .contact-content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .contact-image-section {
    float: none;
    width: 100%;
  
  }

  .contact-image-section .contact-img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  .contact-content-section .contact-title {
    text-align: center;
    font-size: 19px;
  }
  
}






